:root {
    --hiq-max-container-width: 50rem;
}

s-sidebar {
    --nav-color: navy;
    --text-color: white;

    & select {
        box-sizing: border-box;
    }

    & > a, span {
        display: block;
        padding: 0.5em 1rem;
        text-align: center;
    }

    .brand-link {
        font-size: 150%;
        color: var(--text-color);
        font-variant: small-caps;
        font-weight: bold;

        &:hover,
        &:focus {
            color: var(--text-color);
            text-decoration: underline;
        }
    }
}

.is-hidden {
    display: none;
}
