<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Subtle Storm</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" type="text/css" href="https://unpkg.com/normalize.css@8.0.1/normalize.css"> -->
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/hiq@4.2.3/dist/hiq.min.css">
        <link rel="stylesheet" type="text/css" href="/static/app.css">

        <!-- TODO: properly vendor -->
        <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>

        <script src="/static/assets/app.js"></script>
    </head>
    <body>
        <s-sidebar>
            Hello world <!-- TODO: add project loader -->
        </s-sidebar>
        <main class="container">
            {% block main %}{% endblock %}
        </main>
    </body>
</html>
