{% extends "_base.html" %}

{% block main %}
    <h1>{{ project.name }}</h1>

    <fieldset>
        {# TODO: move into separate loader #}
        <select id="projects_select" name="project" hx-get="{{ request.path }}" hx-trigger="change" hx-target="body" hx-push-url="true">
            {% for p in all_projects %}
                <option value="{{ p.arango_data.key }}" {% if project.arango_data.id == p.arango_data.id %}selected{% endif %}>{{ p.name }}</option>
            {% endfor %}
        </select>
    </fieldset>

    <table>
        <thead>
            <tr></tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.status.name }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description | default('—', true) }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
