.workflow {
    --color: #424751; /* Pico zinc 700 */

    border-radius: 1em;
    outline: 2px solid var(--color);

    display: inline-flex;
    gap: 0.25em;
    min-width: 2em;
    padding: 0.1em 0.5em;

    > .mask-icon {
        --icon-color: var(--color);
    }

    > img {
        max-width: unset;
        width: 1lh;
        opacity: 0.75;
    }

    &.red {
        --color: #BD3C13; /* Pico orange 550 */
    }
}
