.workflow {
    --color: #424751; /* Pico zinc 700 */
    --icon: url("mingcute/task_line.svg");

    &.badge {
        outline: 2px solid var(--color);
        color: var(--color);
    }

    > .mask-icon {
        --icon-color: var(--color);
    }

    &.red {
        --color: #BD3C13; /* Pico orange 550 */
    }

    &.blue {
        --color: #1D59D0; /* Pico blue 600 */
    }

    &.lime {
        --color: #628100; /* Pico lime 500 */
    }

    &.teal {
        --color: #047878; /* Pico cyan 550 */
    }
}
